:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:heebo-semibold ;
    src: url(../text-fonts/Heebo-SemiBold.ttf);
}
@font-face {
    font-family:heebo-medium ;
    src: url(../text-fonts/Heebo-Medium.ttf);
}
@font-face {
    font-family:heebo-regular ;
    src: url(../text-fonts/Heebo-Regular.ttf);
}
@font-face {
    font-family:heebo-light ;
    src: url(../text-fonts/Heebo-Light.ttf);
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100Vh;
    background:#ff0000;
    color: #ffffff;
    font-family:heebo-semibold;
    font-weight: 400;
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style: none;
}


h2 {
    font-size: 36px;
    line-height: 38px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

p {
    font-size: 18px;
    line-height: 21px;
}

section {
    padding: 0;
}

a {
    text-decoration: none;
}
button:active{
    transform: scale(0.98);
}


/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0);
}
.header-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);}
.logo-link {
    font-size: 24px;
    color: #fff;
    font-family:heebo-medium;
}
.donate-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 8px 15px;
    border: none;
    font-family:heebo-medium;
    color: #fff;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}
.donate-btn img {
    width: 24px;
    height: 25px;
    margin-right: 6px;
}

/* main  */
.main-parent {
    padding:10px 20px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
}
.color-input {
    width: 500px;
    height: 160px;
    background: transparent;
    border: none;
    margin-bottom: 10px;
}
.main-parent div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-text {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    padding: 8px 15px;
    font-size: 16px;
    margin-right: 20px;
}
.copy-btn {
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
}
.copy-icon{
    margin-right: 4px;
}

/* footer  */

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
    border-radius: 5px 5px 0 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
}
.social-networks-list {
    display: flex;
    align-items: center;
}
.logo {
    width: 24px;
    height: 24px;
    color: white;
}
.footer-bottom {
    padding:10px 20px;
    border-radius:0 0 5px 5px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    font-size: 23px;
    text-align: center;
}