:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:heebo-semibold ;
    src: url(../text-fonts/Heebo-SemiBold.ttf);
}
@font-face {
    font-family:heebo-medium ;
    src: url(../text-fonts/Heebo-Medium.ttf);
}
@font-face {
    font-family:heebo-regular ;
    src: url(../text-fonts/Heebo-Regular.ttf);
}
@font-face {
    font-family:heebo-light ;
    src: url(../text-fonts/Heebo-Light.ttf);
}

.body {
    color: #333;
    font-family:heebo-regular;
    font-weight: 400;
    background-color: transparent;
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style: none;
}


h2 {
    font-size: 36px;
    line-height: 38px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

p {
    font-size: 18px;
    line-height: 21px;
}

section {
    padding: 0;
}

a {
    text-decoration: none;
}